[Unit]
Description=Runs the spongebot discord bot

[Service]
WorkingDirectory=/home/ubuntu/spongebot
ExecStart=/usr/bin/python3 /home/ubuntu/spongebot/spongebot.py
User=ubuntu

[Install]
WantedBy=multi-user.target